{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}
{% block content %}
<div id="top" class="titlecard-wrapper waypoint" data-down-waypoint="0,53">
    <div id="title-text" class="animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="credit">
                        <li>
                            <img src="img/npr-logo.png" class="npr-logo" alt="npr-logo"></li>

                        <li>Audio and reporting by Nathan Rott</li>
                        <li>Photograpy by David Gilkey</li>

                    </ul>
                    <h1>People And The Wolf</h1>
                    <h2>In a fight for territory, is there life in the gray?</h2>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#title-text -->
    <div class="titlecard-mask animated fadeOut"></div>
    <div class="titlecard-first animated"></div>
    <div class="titlecard"></div>
    <div class="begin-bar animated fadeInUp"><p><i class="fa fa-angle-down"></i></p></div>
</div><!-- /titlecard-wrapper -->

<div class="controls">
    <ul class="section-nav nav">
        <li class="top-nav"><a href="#top"><i class="fa fa-circle"></i></a></li>
        <li class="watchers-nav"><a href="#watchers"><i class="fa fa-circle"></i></a></li>
        <li class="hunters-nav"><a href="#hunters"><i class="fa fa-circle"></i></a></li>
        <li class="science-nav"><a href="#science"><i class="fa fa-circle"></i></a></li>
        <li class="compromisers-nav"><a href="#compromisers"><i class="fa fa-circle"></i></a></li>
        <li class="listen-nav"><a href="#audio-story"><i class="fa fa-headphones"></i></a></li>
    </ul>
    <ul class="toggle-ambi">
        <li class="ambient-on"><i class="fa fa-volume-up"></i></li>
        <li class="ambient-off"><i class="fa fa-volume-off"></i></li>
    </ul>
</div>

<section id="content">
<div id="intro">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" > <!--col-md-offset-1 -->
                        <h4>A Love-Hate Relationship</h4>
                        <h5>As far back as cave drawings, the mysterious, mischievous wolf has featured in human mythology. Is it because we see ourselves in them? Or is it because wolves are one of the few animals that might consider humans prey? </h5>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->

    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="img/wolves/INTRO03x_1500.jpg" data-fluidbox>
                        <img src="img/transparent_1500.png" data-src="img/wolves/INTRO03x_1500.jpg" alt="" class="img-responsive">
                    </a>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>A few decades ago, there were fewer than 50 gray wolves left in the lower United States, according to most scientists. They had been hunted, trapped and poisoned off the landscape during the settling of the West.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12">
                    <img src="img/transparent_1500.png" data-src="img/wolves/INTRO02x_1500.jpg" alt="" class="img-responsive">
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Then human attitudes changed. Wolves were put on the endangered species list. They became "the environmental movement poster animal,” says Doug Smith, head of the Yellowstone Wolf Project -- a group that monitors and studies wolves in Yellowstone National Park.</p>
                    <p>And after two decades of legal battles, the federal government brought them back. Sixty-six gray wolves were placed in Yellowstone and Central Idaho to repopulate the region.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                <a href="img/wolves/WATCHERS01x_1500.jpg" data-fluidbox>
                    <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS01x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                </a>
                    <div class="caption-text"><h6>Doug Smith on the site of wolf re-introduction, Idaho.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>The wolf population has since exploded. So, too, has a culture war. Today, there are nearly 1,700 gray wolves in the Northern Rockies. Some humans see it as one our greatest conservation achievements. Others see it as our biggest mistake. And in between is a lot of gray. </p>
                </div><!--/col-->
            </div>
    </div><!--/container-->
</div><!--/intro-->

<div id="watchers" class="waypoint" data-down-waypoint="57,117" data-up-waypoint="0,53">

    <div class="edge-to-edge">
        <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS03x_1500.jpg" alt="wolf-titlecard">
    </div>

    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>On The Lookout</h3>
                    <p>Humans are drawn to wolves. But wolves are elusive. They go where they want -- and often where they&#39;re unwanted.</p>
                    <p>Yellowstone National Park is one place wolves are wanted, and easier to find. It has become known as the best place to see wild wolves in the world. Enthusiasts and tourists hire guides or go to wolf-viewing centers, which is what we did. Biologists and rangers like Rick McKintyre, of the Yellowstone Wolf Project, track, watch and study the wolves, and then share stories with interested visitors.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS04x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Rick McKintyre of the Yellowstone Wolf Project leads a class about wolves.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>

            <div class="row side-by-side">
                <div class="col-md-6 captioned">
                    <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS05x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                    <div class="caption-text"><h6>Rick McKintyre.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

                </div>
                <div class="col-md-6 captioned">
                    <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS06x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                    <div class="caption-text"><h6>Paw print.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>The wolves are almost like celebrities with their own type of paparazzi. They even have fan clubs and <a href="https://www.facebook.com/pages/Wolf-Angels/274653705499" window="new">Facebook pages</a>.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS08x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                    <div class="caption-text"><h6>Members of the Yellowstone Wolf Project track the park&#39;s ten wolf packs. They also help point tourists to the best places to see wolves. [A line about why they like wolves/why wolves matter/deserve protection.]</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <p>In some ways, wolves drive business. More than 3 million people visit Yellowstone National Park every year. Many to see wolves. And it&#39;s estimated that wolf-watching brings in roughly $35 million to the surrounding areas.</p>
                </div><!--/col-->
            </div><!--/row-->
            <div class="row">
                <div class="col-md-12 captioned">
                    <img src="img/transparent_1500.png" data-src="img/wolves/WATCHERS09x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                    <div class="caption-text"><h6>tk.</h6></div>
                    <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
                </div>
            </div><!--/row-->
    </div><!--/container-->
</div><!--/wolf watchers-->

<div id="hunters" class="waypoint" data-down-waypoint="122,194" data-up-waypoint="57,117">
    <div class="edge-to-edge">
        <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS01x_1500.jpg" alt="wolf-titlecard">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>The Big Bad Wolf</h3>
                <p>Still, 95 percent of wolves live outside of Yellowstone -- near and around another apex predator: People. And around people, wolves can be a menace. They prey upon livestock and game animals. According to Montana Fish Wildlife and Parks, wolves killed at least 67 cattle and 37 sheep in the state in 2012. And far more elk.</p>

                <p>Outside the parks, living with wolves becomes a reality. And in that reality, some people swap spotting scopes for hunting ones.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS02x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>here&#39;s a reason they call it hunting and not killing. Only around one-percent of hunters successfully kill a wolf. [Line about what Stell is doing.]</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>

    <div class="quote">
        <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3">
                        <h3>The main reason I hunt wolves is because I&#39;ve seen what they do to other animals. They&#39;re killers. I want to do my part in managing them.</h3>
                        <h6> &#8212; Bruce Stell, outdoorsman and hunter</h6>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/quote-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS03x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>There&#39;s a reason they call it hunting and not killing. Only around one-percent of hunters successfully kill a wolf. [Line about what Stell is doing.].</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Wolves may draw tourists, but can be bad for local business. For ranchers, especially: One cow calf can cost more than $1,000. Older cows cost more.</p>
                <p>For many people, though, it&#39;s more about the elk. In some parts of Montana, like the Bitterroot and Paradise Valleys, elk numbers have declined. Warren Johnson, who owns Hells A’Roarin’ Outfitters in one of those areas, says like many that the balance is off. There are too many wolves.</p>
            </div><!--/col-->
        </div><!--/row-->

        <div class="row">
            <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS05x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Warren Johnson, who runs [a hunting guide business], is less interested in hunting wolves. For him -- and many others -- elk are the prize. Wolves are the problem.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div>
        </div>

        <div class="row side-by-side">
            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS04x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Hunting outfitters at Hell&#39;s A-Roarin&#39; Outfitters.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>

            </div><!--/col-->

            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/HUNTERS06x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>[Sthg about the value of elk]</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>The state of Montana agrees. They&#39;ve raised hunting quotas and lowered hunting license fees to try to bring wolf numbers down. Today, Montana residents can kill up to five wolves every season. Licenses are only $19 a piece.</p>
                <p>But there’s a reason it’s called hunting and not killing: About one percent of wolf hunters actually succeed.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/hunters-->

<div id="science" class="waypoint" data-down-waypoint="198,244" data-up-waypoint="122,194">
    <div class="edge-to-edge captioned">
        <img src="img/transparent_1500.png" data-src="img/wolves/KICKER03x_1500.jpg" alt="wolf-titlecard">
        <div class="caption-text"><h6>TK</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
    </div>

    <div class="section-intro">
        <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 ">
                        <h4>A Case Of Crying Wolf?</h4>
                        <p>A question remains: Are wolves really to blame for the decline in elk numbers? Montana Fish Wildlife and Parks is conducting a study in the Bitterroot Valley, near the Montana-Idaho border, to find out. The project got a lot of funding from area sportsmen who want to know what&#39;s killing the area&#39;s elk.</p>
                        <p>Field biologist Ben Jimenez is like a forensic scientist. He studies elk carcasses for signs of what did the killing. Radio transmitting tags, which were placed in the ears of 84 elk calves late last spring, emit a different radio signal that Jimenez tunes into. The signal comes to a halt if the animal is dead, which is how Jimenez knows to go find them.</p>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/section-intro-->

    <div class="container">
        <div class="row">
            <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/SCIENCE03x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>TK</h6></div>
        <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row side-by-side">
            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/SCIENCE01x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Ben Jimenez</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->

            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/SCIENCE02x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Radio tags.</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>So far, the study has found that the primary killers of elk -- are mountain lions. Then bears. Wolves are a distant third. Still, the debate rages on.</p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--science-->

<div id="compromisers" class="waypoint" data-down-waypoint="248,293" data-up-waypoint="198,244">
    <div class="edge-to-edge">
        <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE01x_1500.jpg" alt="wolf-titlecard">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>The Gray Area</h4>
                <p>Some people want all wolves protected. Others want them all hunted. Scientists, somewhere in between, tend to agree that regardless of wants, wolves are here to stay. Without poison, which has been made illegal, hunters couldn’t eradicate wolves again if they tried. They&#39;re too elusive, too resilient. </p>

                <p>So many ranchers, hunters and conservationists in Montana are trying to meet in the middle -- and live in the gray.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 wide-image">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE08x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Montana&#39;s Blackfoot Valley is a 1.5 million acre watershed of thick forest and rolling fields. There are seven communities in it, about 35 ranches, thousands of cattle and at least a dozen packs of wolves. Surprisingly, in 2013, there were no confirmed livestock depredations to wolves -- a result, in part, of some good old-fashioned compromise and innovation.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 wide-image">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE02x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Jim Stone is the chairman of the Blackfoot Challenge, a group of area landowners, ranchers, hunters, environmentalists and biologists working together to achieve shared goals.</p> <p>One thing they&#39;ve learned about wolves, says Stone: They will avoid new things -- even a basic strip of flags demarcating territory (or "flaggery"). If Stone knows wolves are in the area, he&#39;ll string a new perimeter around his or his neighbor&#39;s cattle in minutes. It&#39;s not as final as a gunshot, but it seems to work. Stone explains that some of the people buying his beef want wolves around. So to him, this is business.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 wide-image">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE03x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
            </div>
        </div>
    </div><!--/container-->

    <div class="quote">
        <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3">
                        <h3>"We believe that everyone can agree on 80 percent of the things in this valley. So we deal with those things on the front end ... Then we can deal with the other 20 percent, like wolves."</h3>
                        <h6> &#8212; Jim Stone, Chairman of the Blackfoot Challenge</h6>
                    </div><!--/col-->
                </div><!--/row-->
        </div><!--/container-->
    </div><!--/quote-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>There are other ways to keep wolves at bay -- like eliminating the bait. Traditionally, ranchers dispose of dead livestock in "boneyards" on their land. But Eric Graham, who works for the Blackfoot Challenge, spends part of his day collecting dead livestock from ranches in the area and taking them to an off-site compost area. That keeps wolves further away from people.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE07x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>Compost</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div>
        </div>
        <div class="row side-by-side">
            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE05x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
                <div class="caption-text"><h6>TK</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
            <div class="col-md-6 captioned">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE06x_1500.jpg" alt="" class="img-responsive">
                <div class="caption-text"><h6>TK</h6></div>
                <p class="caption-label"><i class="fa fa-plus-circle"></i> <b>Caption</b> </p>
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <div class="edge-to-edge">
        <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE09x_1500.jpg" alt="wolf-titlecard">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Learning New Tricks</h4>
                <p>Hilary Zaranek lives squarely in the gray. She volunteered with the Yellowstone Wolf Project before marrying into a ranching family in Montana&#39;s Tom Miner Basin. In Yellowstone, she observed how bison herded up as a defense against wolves, instead of running like elk. So she&#39;s trying to teach her cattle to herd up like bison.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE12x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <p>Hannibal Anderson, Zaranek&#39;s step-dad, lost livestock to wolves after their re-introduction. "Killing them doesn&#39;t do any good," he says. "They just come back."</p> <p>That&#39;s why he&#39;s helping Zaranek train the cattle. In their first year of doing so, the cattle that were trained suffered no losses.</p>
            </div><!--/col-->
        </div><!--/row-->
        <div class="row">
            <div class="col-md-12">
                <img src="img/transparent_1500.png" data-src="img/wolves/COMPROMISE10x_1500.jpg" alt="wolf-titlecard" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="quote waypoint" data-up-waypoint="426,473">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <h3><center>It&#39;s a start.</center></h3>
                    <h6><center> &#8212; Hilary Zaranek</center></h6>
                </div><!--/col-->
            </div><!--/row-->
        </div><!--/container-->
    </div><!--/quote-->
</div><!--compromisers-->

<div class="kicker">
    <div class="edge-to-edge">
        <a href="img/wolves/INTRO05x_1500.jpg" data-fluidbox>
            <img src="img/transparent_1500.png" data-src="img/wolves/INTRO05x_1500.jpg" alt="wolf-titlecard">
        </a>
    </div>

</div><!--kicker-->

<div id="audio-story">
    <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                     <h3>Listen to the story</h3>
                     <p>A brief description of the audio version of the story</p>


                    <div id="audio">
                        <div id="pop-audio" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio">
                            <div class="jp-type-single">
                                <div class="jp-gui jp-interface">
                                    <div class="jp-controls">
                                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                                    </div>
                                    <div class="jp-progress-container">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-volume-bar-container">
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value"></div>
                                        </div>
                                    </div>
                                    <div class="jp-current-time"></div>
                                </div>
                            </div>
                        </div> <!-- end .jp-audio -->
                        <p class="download-audio"><i class="fa fa-download"></i> Download</p>
                    </div> <!-- end #audio -->

                </div><!--/col-->
                <!--
                <div class="col-md-2">
                    <h5>Share</h5>
                    <ul>
                    	<li><i class="fa fa-twitter-square"></i></li>
                    	<li><i class="fa fa-facebook-square"></i></li>
                    </ul>
                </div>/col-->
            </div><!--/row-->
    </div><!--/container-->
</div><!--/audio-story -->

<div id="audio-ambient">
    <div id="pop-audio-ambient" class="jp-jplayer"></div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

{% endblock %}
{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/jquery.jplayer.fade.js') }}
{% endblock %}
