{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}
{% block content %}

<div class="controls">
	<div class="toggle-captions">
		<i class="fa fa-picture-o"></i>
		<p> Hide Captions</p>
	</div>
</div>
<p class="image-metadata"></p>

<div class="titlecard-wrapper">

<div id="title-text">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="img/npr-logo.png" class="npr-logo" alt="npr-logo" >
				<h1>{{ PROJECT_NAME }}</h1>
				<h2>Lorem ipsum dolar sit amet</h2>
				<h3>Reported by Nathan Rott<h3>
				<h3>Photography by David Gilkey</h3>
				<h4>December 25th, 2013</h4>
				<h4><i class="fa fa-angle-double-down"></i></h4>
			</div><!-- /.col --> 
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#title-text -->
<div class="titlecard"></div>

	
</div><!-- /titlecard-wrapper -->

<section id="content">

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 extended-caption">
				<h2>For tens of thousands of years, wolves and humans have lived side by side.</h2> 
			</div><!--/col-->
</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/INTRO04.JPG" alt="wolf-titlecard" class="img-responsive">
	
	<div class="share-this">
			<h6><i class="fa fa-share-square-o share-photo"></i> SHARE</h6>
		</div>
</div>
<div class="container">
		<div class="row">			
			<div class="col-md-12 extended-caption">
				<p>But that relationship is one of love and hate. As recently as a few decades ago, most scientists say there were fewer than 50 gray wolves left in the lower United States. They had been hunted, trapped and poisoned to near extinction during the settling of the West.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->
	
<div class="edge-to-edge">
	<img src="img/INTRO05.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">			
			<div class="col-md-12 extended-caption">
				<p>Over time, human attitudes changed. And gray wolves were brought back to the Northern Rockies by the federal government. </p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/INTRO02.JPG" alt="wolf-titlecard" class="img-responsive">
</div>
 
</div><!--/intro-->

<div class="wolf-watchers">

<div class="container">
		<div class="row">		
			<div class="col-md-12 extended-caption">
				<p>The federal government reintroduced wolves to the Northern Rockies in the mid-1990's. They were brought in from Canada by helicopter and truck, to pens like this in Yellowstone National Park. "There was a change in human attitudes," says Doug Smith, head of the Yellowstone Wolf Project. "People wanted it."</p>	
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/WATCHERS01.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
			<p>In 1995 and 1996, the federal government brought gray wolves back to the lower U.S. They captured 66 wolves in Canada and transported them by truck and helicopter to Central Idaho and Yellowstone National Park. In Yellowstone, wolves were kept in acclimation pens before being released.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->
	
<div class="edge-to-edge">
	<img src="img/WATCHERS02.JPG" alt="wolf-titlecard" class="img-responsive">
</div>	
	
<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">			
				<p>The wolf population exploded. So too has a culture war. Today, there are around 1,700 gray wolves in the Northern Rockies, and the question is: Can two predators at the top of the food chain coexist?</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->


<div class="edge-to-edge">
	<img src="img/WATCHERS03.JPG" alt="wolf-titlecard" class="img-responsive">
</div>	

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">			
				<p>Towns like Gardiner, Montana are on the front-lines of the culture war. Gardiner was once a frontier town, based around hunting and agriculture. Today, tourism to Yellowstone National Park drives the local economy.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->


<div class="edge-to-edge">

<div class="edge-caption">
			<p>Students at yellowstone learn about wolves.</p>
		</div>
	<img src="img/WATCHERS04.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Wolves aren’t easy to find. They are elusive and smart. To seem them up close, most people have to hire guides or go to a wolf-viewing or rehabilitation. That’s what we did [WHERE?] </p>	
				
				<p>Yellowstone National Park has become internationally known as the place to see wild wolves.  They have become celebrities, with fan clubs and Facebook pages. And people have become fiercely protective of them. </p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/WATCHERS05.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>	
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/WATCHERS06.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Wolf Number 11 was, "the Superman or Michael Jordan of wolves," says Rick McKintyre, as he passes around a mold of its paw. McKintyre tries to make wolves relatable to visitors and students by describing their human or dog-like qualities - anthropomorphizing, as it's called technically.</p>	
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->	

<div class="edge-to-edge">
	<img src="img/WATCHERS07.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Members of the Yellowstone Wolf Project track the park's ten wolf packs, studying and monitoring their movements. They also help point tourists to the best places to see wolves.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->	

<div class="edge-to-edge">
	<img src="img/WATCHERS08.JPG" alt="wolf-titlecard" class="img-responsive">
</div>	

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>	
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">

<div class="edge-caption">
			<p>More than 3 million people visit Yellowstone National Park every year. Many to see the park's wolves. It's estimated that wolf-watching brings in roughly $35 million to the surrounding area.</p>
		</div>
	<img src="img/WATCHERS09.JPG" alt="wolf-titlecard" class="img-responsive">
</div>	
	
</div><!--/wolf watchers-->	

<div class="hunters">
	<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>But wolves do cause problems. About 95 percent of them live outside of Yellowstone -- near people -- where they kill livestock and game animals. In 2012,  wolves killed at least 67 cattle, 37 sheep, one dog, two horses and one llama in the state of Montana.</p>	
				
				<p>And far more elk.</p>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->

<div class="edge-to-edge">
	<img src="img/HUNTERS01.JPG" alt="wolf-titlecard" class="img-responsive">
</div>


	<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>"The main reason I hunt wolves is because I've seen what they do to other animals. They're killers. I want to do my part in managing them."</p>	
				
				<p>--Bruce Stell, outdoorsman and hunter</p>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
	
<div class="edge-to-edge">

<div class="edge-caption">
			
		</div>

	<img src="img/HUNTERS02.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>There's a reason they call it hunting and not killing. Only around one-percent of hunters successfully kill a wolf. </p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">

<div class="edge-caption">
			<p>
In 2012, hunters and trappers killed a total of 225 wolves in Montana. The state sold nearly 19,000 licenses to kill them.</p>
</div>

	<img src="img/HUNTERS03.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>In parts of Montana, like the Bitterroot Valley, elk numbers have declined in recent years.  For hunting outfitters, lower elk numbers have meant less business. And some hunters blame wolves. </p>	
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
<div class="edge-caption">
			<p>Hunting outfitters, like these guys at Hell's A-Roarin' Outfitters, are like hunting guides. But since the re-introduction of wolves, Hell's A-Roarin' has started leading more horseback rides than hunting trips.</p>
</div>

	<img src="img/HUNTERS04.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>"It’s ruined our business here. Business we had in the family for over four generations." </p>
				<p> -- Bill Hoppe outfitter in Montana’s Paradise Valley.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->


<div class="edge-to-edge">
	<img src="img/HUNTERS05.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Hunting is best in the morning, says Warren Johnson, who owns Hell's A-Roarin'. He has his guides get up at 3 a.m. to ready their pack horses and load them up for the day. They want to be out in the woods, ready when daylight breaks.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->

<div class="edge-to-edge">
	<div class="edge-caption">
		<p>Some people hunt for trophies. Others for food. In Park County, MT the median household income is about $40,000, so hunting can be a big part of people's livelihoods.</p>
	</div>

	<img src="img/HUNTERS06.JPG" alt="wolf-titlecard" class="img-responsive">
</div>

</div><!--/hunters-->

<div class="science">
	<div class="section-intro">
		<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 extended-caption"> <!--col-md-offset-1 -->
						<h4>But do wolves really kill that many elk?</h4>
						<h5>  Montana Fish Wildlife and Parks is conducting a study in the Bitterroot Valley, near the Montana-Idaho border, to find out.</h5>
					</div><!--/col-->
				</div><!--/row-->
		</div><!--/container-->
	</div><!--/section-intro-->

<div class="container side-by-side">
		<div class="row">
			<div class="col-md-6">
				<img src="img/SCIENCE01.JPG" alt="wolf-titlecard" class="img-responsive">
				<h5>Ben Jimenez is the field biologist of the Bitterroot Elk Research Project. The project got a lot of funding from area sportsmen who want to know what's killing the area's elk. "Wolves have been a big issue down here," Jimenez says, "So there was some speculation from people that we were going to see a lot of wolf kills." Jimenez studies each carcass for signs of what did the killing.</h5>
			</div><!--/col-->
			
			<div class="col-md-6">
				<img src="img/SCIENCE02.JPG" alt="wolf-titlecard" class="img-responsive">
				<h5>Biologists placed little radio transmitting tags, like this, in the ears of 84 elk calves late last Spring. Each tag emits a different radio signal that Jimenez tunes into. The signal beeps at 40 beats a minute when the elk calf is moving. It increases to 80, if the tag hasn't moved in longer than three hours. "At this age, if it hasn't moved in three hours," Jimenez says, "it's probably dead." That's when he goes to find them.</h5>
			</div><!--/col-->
			
		</div><!--/row-->
</div><!--/container-->
	
	<div class="edge-to-edge">
		<img src="img/SCIENCE03.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
</div><!--science-->

<div class="compromisers">

<div class="container">
		<div class="row">
			<div class="col-md-12 extended-caption">
				<p>Love them or hate them, wolves are here to stay. Wolf biologists say that even with aggressive hunting seasons in Montana, people won’t be able to eradicate wolves. They’re too elusive, too resilient.</p>
				
				<p>So the onus falls on people, to figure out how to live with them. And some are.</p>
			</div><!--/col-->
		</div><!--/row-->
</div><!--/container-->


	<div class="edge-to-edge">
		<img src="img/COMPROMISE01.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE02.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE03.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE04.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE05.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE06.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE07.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE08.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE09.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE10.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE11.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/COMPROMISE12.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	
	
</div><!--compromisers-->

<div class="kicker">
	
	<div class="edge-to-edge">
		<img src="img/KICKER03.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>
	
	<div class="edge-to-edge">
		<img src="img/KICKER04.JPG" alt="wolf-titlecard" class="img-responsive">
	</div>

</div><!--kicker-->

<div class="audio-story">	
	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 extended-caption">
					 <p>Listen to the story</p>
					 
					 <p>A brief description of the audio version of the story</p>
					 
					 
	<div id="audio">
	        <div id="pop-audio" class="jp-jplayer"></div>
	        <div id="jp_container_1" class="jp-audio">
	            <div class="jp-type-single">
	                <div class="jp-gui jp-interface">
	                    <div class="jp-controls">
	                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
	                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
	                    </div>
	                    <div class="jp-progress-container">
	                        <div class="jp-progress">
	                            <div class="jp-seek-bar">
	                                <div class="jp-play-bar"></div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="jp-volume-bar-container">
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
						</div>
	                    <div class="jp-current-time"></div>
	                </div>
	            </div>
	        </div> <!-- end .jp-audio -->
	    </div> <!-- end #audio -->	
	    
	    <p>share this story</p>				 
					 
				</div><!--/col-->
			</div><!--/row-->
	</div><!--/container-->
</div><!--/audio-story -->
	
</section>

{% endblock %}
{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
{% endblock %}
