{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}
{% block content %}
<div class="toggle-captions">
	<i class="fa fa-picture-o"></i>
	<p> Hide Captions</p>
</div>

<div class="titlecard-wrapper">

<div id="title-text">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="img/npr-logo.png" class="npr-logo" alt="npr-logo" >
				<h1>{{ PROJECT_NAME }}</h1>
				<h2>Lorem ipsum dolar sit amet</h2>
				<h3>Reported by Nathan Rott<h3>
				<h3>Photography by David Gilkey</h3>
				<h4>December 25th, 2013</h4>
			</div><!-- /.col --> 
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /#title-text -->
<div class="titlecard"></div>

	
</div><!-- /titlecard-wrapper -->

<section id="content">

<div class="intro">

	<div class="edge-to-edge">
	
		<img src="img/3.jpg" alt="wolf-titlecard" class="img-responsive">
		<div class="edge-caption">
			<p>In the mid-1990's the federal government reintroduced wolves to the Northern Rockies - transplanting 76 animals from Canada to Yellowstone and Central Idaho.</p>
		</div>
		<p class="image-metadata"> <span class="share-photo"><b>#1</b> <i class="fa fa-share-square-o"></i></span></p>
		
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 extended-caption">
				<h2>Just a few decades ago, there were almost no wolves left in the United States.</h2> 
			</div><!--/col-->
			<div class="col-md-10 col-md-offset-1"><img src="img/5.jpg" alt="wolf-titlecard" class="img-responsive"></div>
			
			<div class="col-md-9 col-md-offset-2 extended-caption">	
				<p>They had been systematically hunted, trapped and poisoned to near extinction.</p>
				
				 <p>In the mid-1990's the federal government reintroduced wolves to the Northern Rockies - transplanting 76 animals from Canada to Yellowstone and Central Idaho.</p>
				 
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
	
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 extended-caption">			 
				 <h2> Their population boomed and a culture war erupted.</h2>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/intro-->
	
	
	
<div class="wolf-watchers">

	<div class="chapter-title"></div>
	
	
	<div class="container">
		<div class="row">
			
			<div class="col-md-10 col-md-offset-1 extended-caption">
				<p>If you've ever seen a wolf, even just on tv, the chances are it was through a long distance scope. But that doesn’t make seeing one in the wild any less magical. Most of the wolves in Yellowstone have been tagged and collared and enthusiasts monitor their whereabouts and alert each other when there’s a possible wolf sighting. </p>
			</div><!--/col-->
			
			
		</div><!--/row-->
	</div><!--/container-->
	
	
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<img src="img/8.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
			<div class="col-md-10 col-md-offset-1">
				<img src="img/9.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
			<div class="col-md-10 col-md-offset-1">
				<img src="img/10.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
	
</div><!--/wolf-watchers -->

<div class="scientists">

<div class="edge-to-edge">
		<img src="img/11.jpg" alt="wolf-titlecard" class="img-responsive">
</div>

<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 extended-caption">			 
				 <h2>Something else about how wolves are really popular, facebook pages, etc.</h2>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
	
	
	<div class="container">
	<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<img src="img/8.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
			<div class="col-md-10 col-md-offset-1">
				<img src="img/9.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
			<div class="col-md-10 col-md-offset-1">
				<img src="img/10.jpg" alt="wolf-titlecard" class="img-responsive">
			</div><!--/col-->
		</div><!--/row-->
		<div class="row">
			<div class="col-md-10 col-md-offset-1 extended-caption">
				 <p>Doug Smith, a biologist and head of the Yellowstone Wolf Project has heard the reintroduction of wolves to the Yellowstone area and Central Idaho as America’s most significant wildlife conservation accomplishment in the 20th Century. A whole wolf watching industry has blossomed along with the wolves population.</p>
			</div><!--/col-->
		</div><!--/row-->
	</div><!--/container-->
	
</div><!--/scientists -->

<div class="ranchers">

	

</div><!--/ranchers -->

<div class="audio-story">	
	<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 extended-caption">
					 <p>Listen to the story</p>
					 
					 <p>A brief description of the audio version of the story</p>
					 
					 
	<div id="audio">
	        <div id="pop-audio" class="jp-jplayer"></div>
	        <div id="jp_container_1" class="jp-audio">
	            <div class="jp-type-single">
	                <div class="jp-gui jp-interface">
	                    <div class="jp-controls">
	                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
	                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
	                    </div>
	                    <div class="jp-progress-container">
	                        <div class="jp-progress">
	                            <div class="jp-seek-bar">
	                                <div class="jp-play-bar"></div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="jp-volume-bar-container">
							<div class="jp-volume-bar">
								<div class="jp-volume-bar-value"></div>
							</div>
						</div>
	                    <div class="jp-current-time"></div>
	                </div>
	            </div>
	        </div> <!-- end .jp-audio -->
	    </div> <!-- end #audio -->					 
					 
				</div><!--/col-->
			</div><!--/row-->
	</div><!--/container-->
</div><!--/audio-story -->
	
</section>

{% endblock %}
{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
{% endblock %}
